<!DOCTYPE html>
<html>

<head>


    <link rel="stylesheet" type="text/css" href="/css/mystyle.css">
</head>

<body>
    <div style="padding-left:15px;">
        <ul>
            <li style="float:left; font-size : 8px;"><a href="/">Wizard Bank Ltd.</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/accounts">Accounts</a></li>
            <li class="active"><a href="/transactions">Transactions</a></li>
            <li><a href="/addaccount">Create Account</a></li>


        </ul>
    </div>

    <div style="padding-left:15px;">
        <h3>
            <ul style="background-color : white;">

                <div align="center">
                    <a style="font-size: 30px;">Transactions</a>
                </div>



            </ul>

        </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">TRX_ID</th>
                    <th style="text-align: center;">Sender</th>
                    <th style="text-align: center;">Receiver</th>
                    <th style="text-align: center;">Amount</th>
                    <th style="text-align: center;">Time</th>
                </tr>
            </thead>
            <tbody>
                {{#each list}}
                <tr>
                    <td style="text-align: center;">{{this._id}}</td>
                    <td style="text-align: center;">{{this.ac_no1}}</td>
                    <td style="text-align: center;">{{this.ac_no2}}</td>
                    <td style="text-align: center;">{{this.amount}}</td>
                    <td style="text-align: center;">{{this.createdAt}}</td>
                    
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>

</html>